*/

!gm_metro_minsk_1984_main/
!gm_metro_minsk_1984_materials/
!gm_metro_minsk_1984_models/

!gm_metro_minsk_1984_main/**/
!gm_metro_minsk_1984_materials/**/*
!gm_metro_minsk_1984_models/**/*

gm_metro_minsk_1984_main/maps/gm_metro_minsk_1984.vmf

**.bsp
**.log
**.vmx
**.prt
**.pkf
**.png
**.jpg
**.tga
**.gma
**.zip
**.rar
**.smd
**.lin
**.qc
**.fbx
**.obj
**.mdmp
**.blend

!gm_metro_minsk_1984_main/maps/gm_metro_minsk_1984.bsp
!gm_metro_minsk_1984_main/maps/thumb/gm_metro_minsk_1984.png
!gm_metro_minsk_1984_main/service_files.zip